.text{
    padding-top: 4px;
    padding-left: 5px;
}

#addBtn{
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: center; 
    padding: 5px 10px;
}

.center{
    display: inline-block;
    text-align: center;
}