#nonSignedIn{
    margin-top: 20vh;
}

#signedIn button{
    margin:10px;
}

#signedIn{
    padding-top: 20px;
}

#signedIn img{
    border-radius: 10px;
}

#signedIn h2,#signedIn p {
    margin:30px 0px
}

#edit form{
    display: inline-grid;
    text-align: center;
}

#edit{
    text-align: center;
}

#back{
    display: flow-root;
}

.spanningBtn{
    width: 95vw;
}

#edit input[type='number']{
    width: 80px;
}

textarea{
    display: block;
    width: 80vw;
    margin-top: 10px;
    height:20vh;
    resize: none;
    overflow: auto;
    font-size: 1.3rem;
}

#mom{
    width: fit-content;
    display: flex;
    flex-direction: row;
}

#btnCollection{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#mom span{
    display: inline;
    margin-left: 8px;
    padding-top: 3.5px;
}

@media screen and (min-width: 768px) {
   .spanningBtn{
        width: 40vw
    }

    textarea{
        width:40vw;
    }
}

@media screen and (min-width: 1300px) {
    .spanningBtn{
        width: 25vw
    }
}