header{
    background-color: #3d424a;
    z-index: 10000000;
}

header h1{
    color: white;
    padding-left: 3vh;
    padding-top: 3vh;
    font-style: none;
    margin:0;
}

nav a{
    text-decoration: none;
    color: aliceblue;
    transition-duration: 0.7s;
    font-weight: 500;
    font-style: unset;
}

.titleBar{
    display: inline-flex;
    flex-flow: left;
}

.container{
    visibility: visible;
    float: right;
}

#spacer{
    margin: 2rem;
}

.visible{
    visibility: visible;
    height: 100%;
}

nav{
    visibility: hidden;
    height: 0vh;
    text-align: center;
}

header li{
    padding: 10px;
}

@media screen and (min-width: 769px) {
    .container{
        visibility: hidden;
    }

    nav{
        visibility: visible;
        display: inline-block;
        float: right;
        margin-right: 3vw;
        margin-top: 3.5vh;
    }

    header li{
        display: inline;
    }

    .titleBar{
        display: inline-block;
        margin-bottom: 20px;
    }

    .container, #spacer{
        height: 0;
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    #spacer{
        margin-left: 20rem;
    }
}