@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
}

.App{
    padding: 10px;
}

a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #fc9403;
    transition-duration: 0.7s;
}

main{
    min-height: 82.2vh;
}