@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;;
}

.App{
    padding: 10px;
}

a{
    color: #000;
    text-decoration: none;
    color: #fc9403;
}
a:hover{
    color: #fdb146;
    transition-duration: 0.7s;
}

main{
    min-height: 82.1vh;
    text-align: left;
}

.loader{
    margin-left: 45%;
    margin-top: 25%;
    margin-bottom: -20%;
}