@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;;
}

.App{
    padding: 10px;
}

a{
    color: #000;
    text-decoration: none;
    color: #fc9403;
}
a:hover{
    color: #fdb146;
    transition-duration: 0.7s;
}

main{
    min-height: 82.1vh;
    text-align: left;
}

.loader{
    margin-left: 30%;
    margin-top: 10vh;
}

.upload{
    margin: 5px 10px;
}

.upload span{
    display: block;
}

.warning{
    color: rgb(207, 22, 22);
}

button{
    padding: 12px;
    width: 150px;
    background-color: #fc9403;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    transition-duration: 0.7s;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

button:hover{
    background-color: #fdb146;
    transition-duration: 0.7s;
}

@media screen and (min-width: 768px) {
    .loader{
        margin-left: 45%;
        margin-top: 10vh;
    }
}